<% if user.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Ошибка!</h4>
    <p><%= pluralize(user.errors.count, "error") %> запретили сохранение этого пользователя:</p>
    <hr>
    <ul>
      <% user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: user, html: { class: 'needs-validation', novalidate: '' }) do |form| %>
  <% user.schema_attributes.each do |key| %>
    <div class="mb-3">
      <%= form.label key, class: 'form-label' %>
      <% case user.schema_attribute_type(key) %>
      <% when 'String' %>
        <%= form.text_field :schema_data, name: "user[schema_data][#{key}]", value: user.schema_data[key], class: 'form-control' %>
      <% when 'Integer' %>
        <%= form.number_field :schema_data, name: "user[schema_data][#{key}]", value: user.schema_data[key], class: 'form-control' %>
      <% when 'SingleSelect' %>
        <%= form.select :schema_data, options_for_select(user.schema_enum_values(key), selected: user.schema_data[key]), {}, {name: "user[schema_data][#{key}]", class: 'form-select'} %>
      <% when 'MultiSelect' %>
        <%= form.select :schema_data, options_for_select(user.schema_enum_values(key), selected: user.schema_data[key]), {}, {name: "user[schema_data][#{key}][]", multiple: true, class: 'form-select'} %>
      <% else %>
        <p class="text-muted">Unsupported field type</p>
      <% end %>
    </div>
  <% end %>

  <div class="text-center">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>