<%= form_with(model: user, html: { class: 'needs-validation', novalidate: '' }) do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', required: '' %>
    <div class="invalid-feedback">
      <%= user.errors[:name].first %>
    </div>

    <%= form.label :tenant_id %>
    <%= form.select :tenant_id, Tenant.all.collect { |t| [t.id] }, class: 'form-control', required: '' %>
    <div class="invalid-feedback">
      <%= user.errors[:tenant_id].first %>
    </div>
  </div>

  <div class="text-center">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>