<div id="<%= dom_id user %>">
  <p>Name: <%= user.name %></p>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Attribute</th>
          <th scope="col">Type</th>
          <th scope="col">Required?</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <% user.list_schema_attributes.each_with_index do |item, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= item.first %></td>
            <td><%= item.last %></td>
            <td><%= '✓' if user.schema_field_required?(item.first) %></td>
            <td><%= user.schema_data[item.first] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
