<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Edit this user", edit_user_path(user) %>
      <%= link_to "Destroy this user", user, method: :delete %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
